<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.crm.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cj.crm.entity.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="truename" column="truename" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="isvalid" column="isvalid" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,password,
        truename,email,phone,
        isvalid,create_date,update_date
    </sql>
    <select id="findByUserName" resultType="com.cj.crm.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user where username = #{username}
    </select>
    <select id="findById" resultType="com.cj.crm.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user where id = ${id}
    </select>
    <update id="updateSelective">
        update t_user
        <set>
            <if test="username != null">username=#{username,jdbcType=VARCHAR},</if>
            <if test="password != null">password=#{password,jdbcType=VARCHAR},</if>
            <if test="truename != null">truename=#{truename,jdbcType=VARCHAR},</if>
            <if test="email != null">email=#{email,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone=#{phone,jdbcType=VARCHAR},</if>
            <if test="isvalid != null">isvalid=#{isvalid,jdbcType=NUMERIC},</if>
            <if test="createDate != null">create_date=#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateDate != null">update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <select id="queryAllSales" resultType="java.util.Map">
        select u.id,
               u.username as uname
        from t_user u
                 left join t_user_role ur on u.id = ur.user_id
                 left join t_role r on ur.role_id = r.id
        where u.isvalid = 1
          AND r.is_valid = 1
          AND r.role_name = "销售"
    </select>


</mapper>
